#ruby, #python, #js, #go, #r {
  display: none;
  font-size: 50px;
  background-color: #f2c228;
}

#banner {
  text-align: center;
}

.question-title {
  font-weight: bold;
  font-size: 24px;
}

img {
  height: 50%;
  width: 50%;
}

.container {
  background-color: #f2c228;
}
